
agrupar por cidade
agrupar por ano count total por cidade
valor de univercidade
valor total de univercidade
col: distric code
county(condado):ano -> col:awardee(univercidades(gerar contador))-> toltal recebido

Mantém a D_50 (é redundante, mas deixa la)
Cria d_59 que vai ter tudo 0 ai quando agregarmos ela vai receber o valor de quantas vezes uma mesma universidade apareceu e vc pode usar a coluna d_50 para contar (se quiser)
e uma outra coluna d_99 que vai receber também 0 no começo e quando agregar ela fica com 1,2,3,4... conforme aparecer a mesma universidade mais vezes com valores acima de 50k
No fim temos 3 colunas
d_50 que é uma dummy mesmo
d_59 que tem quantas vezes uma universidade apareceu por ano com valor de 50k, 1,2,3,4...
d_99 que tem quantas vezes uma universidade apareceu por ano com valor ACIMA de 50k, 1,2,3,4...


Para os outros fundings usa o valor total, mas conta quantos fundins recebeu

Preencher os valores que faltam

In [71]:
import pandas as pd
import numpy as np
from pathlib import Path

#path append
#base = Path('C:/workspace/nsf-award-extract') # Vitor's PC
base = Path('C:/collaboration/vitor/NSF_DATA') # Server

nsf=pd.read_csv(base / 'allNSF1.csv',index_col = False) #Change this to the clean data later
#nsf = pd.read_csv('allNSF1.csv',low_memory = False)
#dft=pd.read_csv(base/ 'test.csv',index_col = False) #Change this to the clean data later

C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\999524203.py:9: DtypeWarning: Columns (12,13,17,25,32,37,45,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nsf=pd.read_csv(base / 'allNSF1.csv',index_col = False) #Change this to the clean data later

In [72]:
# rename  values of fundProgram
nsf = nsf.replace('IUCRC-Indust-Univ Coop Res Ctr','IUCRC')
nsf = nsf.replace('PFI-Partnrships for Innovation','PFI')
nsf = nsf.replace('STTR Phase I','STTR_1')
nsf = nsf.replace('STTR Phase II','STTR_2')
nsf = nsf.replace('SBIR Phase I','SBIR_1')
nsf = nsf.replace('SBIR Phase II','SBIR_2')

In [73]:
#Just checking if we have the same amount of register in each year as in this link https://www.nsf.gov/awardsearch/download.jsp
#nsf['year'] = pd.to_datetime(nsf['date'], format='%m/%d/%Y').dt.year

Filling the missing county

In [74]:
mapping = nsf.groupby('awardee')['awardeeCounty'].first().to_dict()
nsf['awardeeCounty'] = nsf['awardeeCounty'].fillna(nsf['awardee'].map(mapping))

Keeping only the funding with fundProgramName specified

In [75]:
nsf = nsf[~nsf['fundProgramName'].isna()]

# Extracting the Universities that has missing county
We need to use this list to find the county and later use the filled file to map this location back to the main file

In [76]:
nsf[nsf['awardeeCounty'].isna()]

,Column,abstractText,agency,awardAgencyCode,awardee,awardeeAddress,awardeeCity,awardeeCountryCode,awardeeCounty,awardeeDistrictCode,...,perfCounty,perfDistrictCode,perfStateCode,primaryProgram,coPDPI,poName,poPhone,publicationResearch,publicationConference,projectOutComesReport
8,7,Continuous aseptic processing and packaging is...,NSF,4900.0,NORTH CAROLINA STATE UNIVERSITY,2601 Wolf Village Way,Raleigh,US,None,NC04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,38,The Trek of the Mammoth is a three-week multid...,NSF,4900.0,CHADRON STATE COLLEGE,10th and Main Streets,chadron,US,None,NE03,...,NaN,NaN,NaN,NaN,Ronald R Weedon,NaN,NaN,NaN,NaN,NaN
385,55,This three-year project is designed to improve...,NSF,4900.0,MCNEESE STATE UNIVERSITY,Box 90655,Lake Charles,US,None,LA07,...,NaN,NaN,NaN,NaN,Gary D Kratzer,NaN,NaN,NaN,NaN,NaN
924,7,PROJECT PTRA-PLUS is a program of the American...,NSF,4900.0,AMERICAN ASSOCIATION OF PHYSICS TEACHERS INC,One Physics Ellipse,College Park,US,None,MD05,...,NaN,MD05,MD,"490106 NSF, EDUCATION & HUMAN RESOURC",James H Nelson,NaN,NaN,NaN,NaN,NaN
993,76,The Bermuda Biological Station will receive su...,NSF,4900.0,BERMUDA INSTITUTE OF OCEAN SCIENCES (BIOS) INC.,17 Biological Station,St. George's GE01,BD,None,NaN,...,NaN,NaN,NaN,490100 NSF RESEARCH & RELATED ACTIVIT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191110,11257,New cryptographic systems can improve the secu...,NSF,4900.0,NORTH CAROLINA STATE UNIVERSITY,2601 Wolf Village Way,Raleigh,US,None,NC04,...,RALEIGH,NC02,NC,NaN,NaN,Sankar Basu,7.032928e+09,NaN,NaN,NaN
191356,11503,The U.S. Southwest is a drought-prone region t...,NSF,4900.0,NaN,NaN,Ann Arbor,US,NaN,MI,...,DAVIS,CA04,CA,NaN,NaN,Soumaya Belmecheri,7.032929e+09,"Macarewich, Sophia I. and Poulsen, Christopher...",NaN,Water resource use in the southwestern U.S. (h...
191433,11580,Extreme weather events (heat waves and cold sn...,NSF,4900.0,NORTH CAROLINA STATE UNIVERSITY,2601 Wolf Village Way,Raleigh,US,None,NC04,...,Raleigh,NC02,NC,NaN,NaN,Bruce Hamilton,7.032920e+09,NaN,NaN,NaN
191476,11623,This award is funded in whole or in part under...,NSF,4900.0,NORTH CAROLINA STATE UNIVERSITY,2601 Wolf Village Way,Raleigh,US,None,NC04,...,RALEIGH,NC02,NC,NaN,NaN,Bianca Garner,7.032928e+09,NaN,NaN,NaN
191543,11690,The broader impact /commercial potential of th...,NSF,4900.0,LIV LABS INC.,1415 LAKE AVE,Wilmette,US,None,IL02,...,BOSTON,MA07,MA,NaN,Holly B Jimison,Alastair Monk,7.032924e+09,NaN,NaN,NaN

In [77]:
#missing_NSF = nsf[nsf['awardeeCounty'].isna()].drop_duplicates(subset='awardee')
#missing_NSF.to_csv(base/ "missing_NSF.csv", index = False)
filled_NSF = pd.read_csv(base / 'filled_NSF.csv')

Code for filling the missing value should come here

In [78]:
# Create a mapping dictionary from 'filled_NSF' dataset
mapping = filled_NSF.set_index('awardee')['awardeeCounty'].to_dict()

# Fill missing 'awardeeCounty' values in 'nsf' dataset using the mapping
nsf['awardeeCounty'] = nsf['awardeeCounty'].fillna(nsf['awardee'].map(mapping))

# Updated 'nsf' dataset with filled 'awardeeCounty' values

In [79]:
nsf[nsf['awardeeCounty'].isna()]

Empty DataFrame
Columns: [Column, abstractText, agency, awardAgencyCode, awardee, awardeeAddress, awardeeCity, awardeeCountryCode, awardeeCounty, awardeeDistrictCode, awardeeName, awardeeStateCode, awardeeZipCode, cfdaNumber, month_date, day_date, Year_date, dunsNumber, estimatedTotalAmt, expDate 1, expDate 2, expDate 3, fundAgencyCode, fundProgramName, fundsObligatedAmt, id, parentDunsNumber, pdPIName, perfAddress, perfCity, perfCountryCode, perfLocation, perfZipCode, piEmail, piFirstName, piLastName, piMiddeInitial, piPhone, poEmail, startDate, title, transType, perfCounty, perfDistrictCode, perfStateCode, primaryProgram, coPDPI, poName, poPhone, publicationResearch, publicationConference, projectOutComesReport]
Index: []

[0 rows x 52 columns]

Creating the file with no missing values (later we don't need this because we will have all the Universities with their respective county)

In [80]:
nsf_all = nsf[~nsf['awardeeCounty'].isna()] #187755 + 3773 (correct)

Creating the Panel with aggregation (I think we don't need this)

Creating the first panel

In [81]:
# def cross_to_panel(df):
#     df = df.set_index(['Year_date','awardeeCounty'])
#     df = df.sort_index()
#     return df
# panel_data = cross_to_panel(nsf_all)
#panel_data.to_csv('panel2.csv')

# def cross_to_panel(df):
#     df['date'] = pd.to_datetime(df['Year_date'], format='%Y')
#     df['year'] = df['date'].dt.year
#     df = df.set_index(['year', 'awardeeCounty'])
#     return df

# # Example usage

# panel_data = cross_to_panel(df)
# panel_data.to_csv('cross2.csv')
#panel_data

In [82]:
#grouped_multiple = df.groupby(['Year_date', 'awardeeCounty'])
#grouped_multiple = grouped_multiple.reset_index()
#print(grouped_multiple)

# p_table = pd.pivot_table(nsf_all, index = ['Year_date',"awardeeCounty"])
# p_table.to_csv("panel_nsf_all.csv")
# p_table

Creating Filters to get the correct programs

In [83]:
# create new dataframes of slices fundProgram
df_corps = nsf_all[nsf_all['fundProgramName'] == 'I-Corps']

df_SBIR_1 = nsf_all[nsf_all['fundProgramName'] == 'SBIR_1']
df_SBIR_2 = nsf_all[nsf_all['fundProgramName'] == 'SBIR_2']
df_STTR_1= nsf_all[nsf_all['fundProgramName'] == 'STTR_1']
df_STTR_2 = nsf_all[nsf_all['fundProgramName'] == 'STTR_2']
df_PFI = nsf_all[nsf_all['fundProgramName'] == 'PFI']
df_IUCRC = nsf_all[nsf_all['fundProgramName'] == 'IUCRC']

#combine all the other ones

In [84]:
df_PFI

,Column,abstractText,agency,awardAgencyCode,awardee,awardeeAddress,awardeeCity,awardeeCountryCode,awardeeCounty,awardeeDistrictCode,...,perfCounty,perfDistrictCode,perfStateCode,primaryProgram,coPDPI,poName,poPhone,publicationResearch,publicationConference,projectOutComesReport
47839,4166,0090523\t\t\nKohn\t\t\t\n\nThis award is to Ru...,NSF,4900.0,"RUTGERS, THE STATE UNIVERSITY OF NEW JERSEY",3 RUTGERS PLZA,NEW BRUNSWICK,US,NEW BRUNSWICK,NJ06,...,New Brunswick,NJ06,NJ,NaN,Bozena Michniak,NaN,NaN,NaN,NaN,NaN
50013,1100,0125449\t\nSilverman\t\t\t\n\nThis award is to...,NSF,4900.0,UNIVERSITY OF SOUTHERN CALIFORNIA,3720 S FLOWER ST FL 3,LOS ANGELES,US,Los Angeles,CA37,...,Los Angeles,CA37,CA,NaN,Kathleen Allen,NaN,NaN,NaN,NaN,NaN
50153,1240,0125752\t\nZiliaskopoulos\t\t\t\n\nThis award ...,NSF,4900.0,NORTHWESTERN UNIVERSITY,633 CLARK,EVANSTON,US,Evanston,IL07,...,Evanston,IL07,IL,NaN,Jay Franke,NaN,NaN,NaN,NaN,NaN
50154,1241,0125429\nCraig\t\n\t\nThis award is to Montana...,NSF,4900.0,MONTANA STATE UNIVERSITY,216 MONTANA HALL,BOZEMAN,US,Bozeman,MT00,...,NaN,MT00,MT,NaN,James A McMillan,NaN,NaN,NaN,NaN,NaN
50155,1242,0125343\t\nDagher\t\t\n\nThis award is to the ...,NSF,4900.0,UNIVERSITY OF MAINE SYSTEM,5717 CORBETT HALL RM 422,ORONO,US,Orono,ME02,...,Orono,ME02,ME,NaN,James S Ward,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191275,11422,The broader impact/commercial potential of thi...,NSF,4900.0,UNIVERSITY OF WASHINGTON,4333 Brooklyn Ave NE,Seattle,US,Seattle,WA07,...,SEATTLE,WA07,WA,NaN,NaN,Jesus Soriano Molla,7.032928e+09,NaN,NaN,NaN
191278,11425,The broader impact/commercial potential of thi...,NSF,4900.0,UNIVERSITY OF TEXAS AT AUSTIN,110 INNER CAMPUS DR,Austin,US,Austin,TX10,...,AUSTIN,TX25,TX,NaN,NaN,Jesus Soriano Molla,7.032928e+09,"Grose, Joshua and Dibua, Obehi G and Behera, D...",NaN,NaN
191279,11426,The broader impact/commercial potential of thi...,NSF,4900.0,REGENTS OF THE UNIVERSITY OF MICHIGAN,503 THOMPSON ST,Ann Arbor,US,Ann Arbor,MI12,...,Ann Arbor,MI12,MI,NaN,Richard T Zvosec,Jesus Soriano Molla,7.032928e+09,NaN,NaN,NaN
191280,11427,The broader impact/commercial potential of thi...,NSF,4900.0,REGENTS OF THE UNIVERSITY OF MICHIGAN,503 THOMPSON ST,Ann Arbor,US,Ann Arbor,MI12,...,Ann Arbor,MI12,MI,NaN,NaN,Jesus Soriano Molla,7.032928e+09,NaN,NaN,NaN
191281,11428,The broader impact/commercial potential of thi...,NSF,4900.0,UNIVERSITY OF ROCHESTER,500 JOSEPH C WILSON BLVD,ROCHESTER,US,Rochester,NY25,...,Rochester,NY25,NY,NaN,NaN,Jesus Soriano Molla,7.032928e+09,NaN,NaN,NaN

In [85]:
df_SBIR_2

,Column,abstractText,agency,awardAgencyCode,awardee,awardeeAddress,awardeeCity,awardeeCountryCode,awardeeCounty,awardeeDistrictCode,...,perfCounty,perfDistrictCode,perfStateCode,primaryProgram,coPDPI,poName,poPhone,publicationResearch,publicationConference,projectOutComesReport
1009,92,This is an award for conduct of research the o...,NSF,4900.0,OUSD(AT&L),11 Industrial Way,Atkinson,US,Atkinson,NH02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1426,509,During the first phase of this NSF sponsored S...,NSF,4900.0,OUSD(AT&L),11409 Valley View Road,EDEN PRAIRIE,US,Eden Prairie,MN03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1690,773,This Small Business Innovation Research (SBIR)...,NSF,4900.0,NaN,301 Chesapeake Drive,REDWOOD CITY,US,Redwood City,CA14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2862,1945,During the first phase of this NSF sponsored S...,NSF,4900.0,NaN,3453 Commercial Ave,NORTHBROOK,US,Northbrook,IL10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3269,39,This project is funded under the National Scie...,NSF,4900.0,OUSD(AT&L),3450 Hillview Avenue,Palo Alto,US,Palo Alto,CA18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191298,11445,The broader impact/commercial potential of thi...,NSF,4900.0,"HEALTH TECHNOLOGY INNOVATIONS, INC.",4640 SW MACADAM AVE STE 200D,Portland,US,Portland,OR01,...,PORTLAND,OR03,OR,NaN,NaN,Alastair Monk,7.032924e+09,NaN,NaN,NaN
191299,11446,The broader impact/commercial potential of thi...,NSF,4900.0,"AMBI ROBOTICS, INC.",1610 5TH ST,BERKELEY,US,Berkeley,CA09,...,EMERYVILLE,CA12,CA,NaN,NaN,Elizabeth Mirowski,7.032923e+09,NaN,NaN,NaN
191424,11571,The broader impact/commercial potential of thi...,NSF,4900.0,"PSYONIC, INC.",60 HAZELWOOD DR STE 210,CHAMPAIGN,US,Champaign,IL13,...,CHAMPAIGN,IL13,IL,NaN,NaN,Alastair Monk,7.032924e+09,NaN,NaN,NaN
191499,11646,The broader impact/commercial potential of thi...,NSF,4900.0,"CODON LEARNING, INC.",607 10TH ST,GOLDEN,US,Golden,CO07,...,GOLDEN,CO07,CO,NaN,NaN,Rajesh Mehta,7.032922e+09,NaN,NaN,NaN
191508,11655,The broader impact/commercial potential of thi...,NSF,4900.0,SKYNANO LLC,740 PIPER RD,Knoxville,US,Knoxville,TN02,...,Knoxville,TN02,TN,NaN,NaN,Benaiah Schrag,7.032928e+09,NaN,NaN,NaN

Now we have to deal with I-Coprs before we continue with the code

# Repeating the same process we did for I-Corps

In [86]:
#substituir data por df_corps
df_corps['d_inv'] = df_corps.apply(lambda x: 0 if x.estimatedTotalAmt <= 50000.0 else 1,axis = 1) # create the variable 50k < and 50k >
df_corps['d_59'] = 1
df_corps['d_99'] = 0
df_corps['estimatedTotalAmt_d_99'] = 0

C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\2879990113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corps['d_inv'] = df_corps.apply(lambda x: 0 if x.estimatedTotalAmt <= 50000.0 else 1,axis = 1) # create the variable 50k < and 50k >
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\2879990113.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corps['d_59'] = 1
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\2879990113.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corps['d_99'] = 0
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\2879990113.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corps['estimatedTotalAmt_d_99'] = 0

In [87]:
df_clear = df_corps.groupby(['awardeeCounty','Year_date','awardee','d_inv'])[['d_59','estimatedTotalAmt','d_99','estimatedTotalAmt_d_99']].sum()# agrupando por county
df_clear = df_clear.reset_index()

df_below50 = df_clear[df_clear['d_inv'] == 0].reset_index()
df_below50 = df_below50.drop(columns =['index'])

df_over50 = df_clear[df_clear['d_inv'] == 1].reset_index()
df_over50['d_99'] = df_over50['d_59']
df_over50['d_59'] = 0
df_over50['estimatedTotalAmt_d_99'] = df_over50['estimatedTotalAmt']
df_over50['estimatedTotalAmt'] = 0
df_over50 = df_over50.drop(columns = ['index'])

In [88]:
for index,row in df_below50.iterrows():
  key = row['awardee']
  met = df_over50[df_over50['awardee'] == key]
  key_year = row['Year_date']
  met_year = met[met['Year_date'] == key_year]
  if met_year.shape[0]>0:
    df_below50.at[index,'d_99'] = met_year.iloc[0]['d_99']
    df_below50.at[index,'estimatedTotalAmt_d_99'] = met_year.iloc[0]['estimatedTotalAmt_d_99']
    df_over50 = df_over50.drop(met_year.index[0])

In [89]:
df_below50 = df_below50.merge(df_over50,how = 'outer')
df_below50['total_corps'] = df_below50.apply(lambda x: x['estimatedTotalAmt'] + x['estimatedTotalAmt_d_99'],axis = 1)
df_corps_f = df_below50.sort_values(by = ['awardeeCounty','Year_date'])
df_corps_f = df_corps_f.reset_index(inplace = False).drop(columns = ['index'])

Saving the file

In [90]:
# df_final
# df_final.to_csv("nsf_all.csv", index=False)

Back with the DataFrame

In [93]:
# # separating the fundings
# df_others2 = nsf_all.copy()
# for index,rows in nsf_all.iterrows():
#     if rows.fundProgramName  in ['IUCRC','PFI','STTR_1','STTR_2','SBIR_1','SBIR_2','I-Corps']:
#         df_others2.drop(index = index, inplace = True) 
#     else:
#         pass

In [94]:
#df_others2[df_others2['fundProgramName'] == 'I-Corps']
#df_others2.to_csv(base/'df_others2.csv', index=False)

df_others2 = pd.read_csv(base/'df_others2.csv')

C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\3013695595.py:4: DtypeWarning: Columns (12,17,32,37,45,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df_others2 = pd.read_csv(base/'df_others2.csv')

In [95]:
df_others2.shape #181150

(184718, 52)

In [96]:
# incluir coluna

In [112]:
def number_of_invest(data,name):
    data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0
    df_clear = data.groupby(['awardee', 'Year_date' ,f'd_inv_{str(name)}'])[['estimatedTotalAmt']].sum()# agrupando 
    df_clear = df_clear.rename(columns={'estimatedTotalAmt':f'{name}'})
    df_clear = df_clear.reset_index()
    return df_clear

In [113]:
x = number_of_invest(df_SBIR_1,"df_SBIR_1")
y = number_of_invest(df_SBIR_2,"df_SBIR_2")
z = number_of_invest(df_STTR_1,"df_STTR_1")
k = number_of_invest(df_STTR_2,"df_STTR_2")
i = number_of_invest(df_PFI,"df_PFI")
l = number_of_invest(df_others2,"df_others")

C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\1813069825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\1813069825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\1813069825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\1813069825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0
C:\Users\fernav4\AppData\Local\Temp\ipykernel_3948\1813069825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'd_inv_{str(name)}'] = data.apply(lambda x: 0 if x.estimatedTotalAmt == 0 else 1,axis = 1)# cria variavel categorica para valores iguais 0 ou maior que 0

In [114]:
x

                                awardee  Year_date  d_inv_df_SBIR_1  df_SBIR_1
0                         123 SEE, INC.       2021                1   256000.0
1            1442 S. FALLON STREET, LLC       2021                1   511994.0
2                      2KR SYSTEMS, LLC       2022                1   512000.0
3                              2PI INC.       2022                1   256000.0
4                 2WITECH SOLUTIONS LLC       2020                1   256000.0
...                                 ...        ...              ...        ...
1569                        ZETTAR, INC       2016                1   225000.0
1570             ZIENA OPTIMIZATION LLC       2002                1    99994.0
1571                    ZINN LABS, INC.       2020                1   512000.0
1572                 ZIVA MEDICAL, INC.       2015                1   150000.0
1573  ZYMTRONIX CATALYTIC SYSTEMS, INC.       2013                1   150000.0

[1574 rows x 4 columns]

In [115]:
df_teste = x.merge(y,how = "outer")

#df_teste = df_teste.merge(m,how = 'outer')

In [116]:
df_teste = df_teste.merge(z,how = "outer")
df_teste = df_teste.merge(k,how = "outer")
df_teste = df_teste.merge(i,how = "outer")
df_teste = df_teste.merge(l,how = "outer")

In [117]:
df_teste #24407

,awardee,Year_date,d_inv_df_SBIR_1,df_SBIR_1,d_inv_df_SBIR_2,df_SBIR_2,d_inv_df_STTR_1,df_STTR_1,d_inv_df_STTR_2,df_STTR_2,d_inv_df_PFI,df_PFI,d_inv_df_others,df_others
0,"123 SEE, INC.",2021,1.0,256000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1442 S. FALLON STREET, LLC",2021,1.0,511994.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2KR SYSTEMS, LLC",2022,1.0,512000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2PI INC.,2022,1.0,256000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2WITECH SOLUTIONS LLC,2020,1.0,256000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23554,ZOOLOGICAL SOCIETY OF SAN DIEGO,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,134100.0
23555,ZOOLOGICAL SOCIETY OF SAN DIEGO,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4067576.0
23556,ZOOLOGICAL SOCIETY OF SAN DIEGO,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,50000.0
23557,ZOOLOGICAL SOCIETY OF SAN DIEGO,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,23724.0
23558,ZOOLOGICAL SOCIETY OF SAN DIEGO,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,332891.0

In [118]:
df_nsf = df_teste.merge(df_corps_f,how = 'outer')

In [119]:
def convert_to_int(value):
    try:
        return int(value)
    except ValueError:
        return value

df_nsf = df_nsf.fillna(0)  # Fill NaN values with zeros
df_nsf = df_nsf.applymap(convert_to_int)  # Apply conversion function to each element

In [120]:
df_nsf #22873

,awardee,Year_date,d_inv_df_SBIR_1,df_SBIR_1,d_inv_df_SBIR_2,df_SBIR_2,d_inv_df_STTR_1,df_STTR_1,d_inv_df_STTR_2,df_STTR_2,...,df_PFI,d_inv_df_others,df_others,awardeeCounty,d_inv,d_59,estimatedTotalAmt,d_99,estimatedTotalAmt_d_99,total_corps
0,"123 SEE, INC.",2021,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"1442 S. FALLON STREET, LLC",2021,1,511994,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"2KR SYSTEMS, LLC",2022,1,512000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2PI INC.,2022,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2WITECH SOLUTIONS LLC,2020,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23624,"UNIVERSITY OF TOLEDO, THE",2016,0,0,0,0,0,0,0,0,...,0,0,0,Toledo,0,6,300000,0,0,300000
23625,VALDOSTA STATE UNIVERSITY,2015,0,0,0,0,0,0,0,0,...,0,0,0,Valdosta,0,1,50000,0,0,50000
23626,WOMEN IN ENGINEERING PROGRAMS & ADVOCATES NETWORK,2016,0,0,0,0,0,0,0,0,...,0,0,0,Washington,0,1,50000,0,0,50000
23627,YOUNGSTOWN STATE UNIVERSITY,2016,0,0,0,0,0,0,0,0,...,0,0,0,Youngstown,0,1,50000,0,0,50000
23628,EASTERN MICHIGAN UNIVERSITY,2015,0,0,0,0,0,0,0,0,...,0,0,0,Ypsilanti,0,1,50000,0,0,50000

In [121]:
df_nsf.columns

Index(['awardee', 'Year_date', 'd_inv_df_SBIR_1', 'df_SBIR_1',
       'd_inv_df_SBIR_2', 'df_SBIR_2', 'd_inv_df_STTR_1', 'df_STTR_1',
       'd_inv_df_STTR_2', 'df_STTR_2', 'd_inv_df_PFI', 'df_PFI',
       'd_inv_df_others', 'df_others', 'awardeeCounty', 'd_inv', 'd_59',
       'estimatedTotalAmt', 'd_99', 'estimatedTotalAmt_d_99', 'total_corps'],
      dtype='object')

In [122]:
#df_teste['total_inv'] = df_teste.apply(lambda x: x['d_inv_df_SBIR_1']+ x['d_inv_df_SBIR_2']+x['d_inv_df_STTR_1']+x['d_inv_df_STTR_2']+x['d_inv_df_PFI']+x['d_inv_df_others'],axis=1)
df_nsf['total_fund'] = df_nsf.apply(lambda x: x['df_SBIR_1']+ x['df_SBIR_2']+x['df_STTR_1']+x['df_STTR_2']+x['df_PFI']+x['df_others']+x['total_corps'],axis=1)

In [123]:
df_nsf.shape

(23629, 22)

In [124]:
df_nsf

,awardee,Year_date,d_inv_df_SBIR_1,df_SBIR_1,d_inv_df_SBIR_2,df_SBIR_2,d_inv_df_STTR_1,df_STTR_1,d_inv_df_STTR_2,df_STTR_2,...,d_inv_df_others,df_others,awardeeCounty,d_inv,d_59,estimatedTotalAmt,d_99,estimatedTotalAmt_d_99,total_corps,total_fund
0,"123 SEE, INC.",2021,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,256000
1,"1442 S. FALLON STREET, LLC",2021,1,511994,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,511994
2,"2KR SYSTEMS, LLC",2022,1,512000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,512000
3,2PI INC.,2022,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,256000
4,2WITECH SOLUTIONS LLC,2020,1,256000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,256000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23624,"UNIVERSITY OF TOLEDO, THE",2016,0,0,0,0,0,0,0,0,...,0,0,Toledo,0,6,300000,0,0,300000,300000
23625,VALDOSTA STATE UNIVERSITY,2015,0,0,0,0,0,0,0,0,...,0,0,Valdosta,0,1,50000,0,0,50000,50000
23626,WOMEN IN ENGINEERING PROGRAMS & ADVOCATES NETWORK,2016,0,0,0,0,0,0,0,0,...,0,0,Washington,0,1,50000,0,0,50000,50000
23627,YOUNGSTOWN STATE UNIVERSITY,2016,0,0,0,0,0,0,0,0,...,0,0,Youngstown,0,1,50000,0,0,50000,50000
23628,EASTERN MICHIGAN UNIVERSITY,2015,0,0,0,0,0,0,0,0,...,0,0,Ypsilanti,0,1,50000,0,0,50000,50000

In [111]:
df_nsf = df_nsf.sort_values(by = ['Year_date'])
df_nsf

,awardee,Year_date,awardeeCounty,d_inv_df_SBIR_1,df_SBIR_1,d_inv_df_SBIR_2,df_SBIR_2,d_inv_df_STTR_1,df_STTR_1,d_inv_df_STTR_2,...,df_PFI,d_inv_df_others,df_others,d_inv,d_59,estimatedTotalAmt,d_99,estimatedTotalAmt_d_99,total_corps,total_fund
5695,CALIFORNIA SCIENCE CENTER FOUNDATION,1986,Los Angeles,0,0,0,0,0,0,0,...,0,1,302006,0,0,0,0,0,0,302006
21144,UNIVERSITY OF ILLINOIS,1987,Champaign,0,0,0,0,0,0,0,...,0,1,311500,0,0,0,0,0,0,311500
7886,DUKE UNIVERSITY,1987,Durham,0,0,0,0,0,0,0,...,0,1,22768477,0,0,0,0,0,0,22768477
4046,ARIZONA STATE UNIVERSITY,1987,Tempe,0,0,0,0,0,0,0,...,0,1,142500,0,0,0,0,0,0,142500
19783,"TRUSTEES OF PRINCETON UNIVERSITY, THE",1987,Princeton,0,0,0,0,0,0,0,...,0,1,1218104,0,0,0,0,0,0,1218104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13082,"NANTUCKET MARIA MITCHELL ASSOCIATION, THE",2022,Nantucket,0,0,0,0,0,0,0,...,0,1,386570,0,0,0,0,0,0,386570
13025,MURRAY STATE UNIVERSITY,2022,Murray,0,0,0,0,0,0,0,...,0,1,223633,0,0,0,0,0,0,223633
13027,MUSEUM ASSOCIATES,2022,Los Angeles,0,0,0,0,0,0,0,...,0,1,369186,0,0,0,0,0,0,369186
1525,"WAVE LOGIX, INC.",2022,West Lafayette,1,255996,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,255996
5754,CALIFORNIA STATE UNIVERSITY SYSTEM,2022,Long Beach,0,0,0,0,0,0,0,...,0,1,193624,0,0,0,0,0,0,193624

# END
Previous code I-Corps

In [ ]:
# pd.set_option('display.max_columns', None)
# df=pd.read_csv('genICorp.csv')
# dfp=pd.read_csv('Panel2.csv') #using the already organized data
# dfc = pd.read_csv("I-Corp_county.csv") # This is the file I manually updated the county column

# #File to create the panel
# dfp = pd.read_csv("I-corp-Full.csv")

In [ ]:
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! abaixo so testes !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
x = data[data['awardee']== 'REGENTS OF THE UNIVERSITY OF CALIFORNIA, THE']
len(x[x['Year_date']== 2017])

In [ ]:
df_below50[df_below50['awardee'] == 'NATIONAL COLLEGIATE INVENTORS & INNOVATORS ALLIANCE, INC.']

In [ ]:
df_below50[df_below50['awardee'] == 'THE UNIVERSITY OF AKRON']

In [ ]:
df_over50[df_over50['awardee'] == 'NATIONAL COLLEGIATE INVENTORS & INNOVATORS ALLIANCE, INC.']

In [ ]:
df_final[df_final['awardee'] == 'NATIONAL COLLEGIATE INVENTORS & INNOVATORS ALLIANCE, INC.']

In [ ]:
#df_melt = pd.melt(data,id_vars= ['Year_date','awardee','estimatedTotalAmt'], value_vars = ['d_inv'] )
#df_melt

In [ ]:
data[data['awardee'] == 'NATIONAL COLLEGIATE INVENTORS & INNOVATORS ALLIANCE, INC.']

In [ ]:
df_50 = df_50.groupby(['Year_date','awardee'])[['estimatedTotalAmt']].sum()# agrupando por county

In [ ]:
df_50 = df_50.reset_index( )

In [ ]:
SELECT * FROM `post` WHERE source_id >= 175 AND created_date < '2023-01-01'
85840

DELETE epecificar a tabela para apagar os dados FROM `insight` INNER JOIN `post` on insight.post_id = post.id WHERE post.source_id = 175 AND post.created_date < '2023-01-01';
 numeros de registros apagados 13377784

WITH postIds AS (
 SELECT id FROM post WHERE source_id >= 175 AND created_date < '2023-01-01'
)

DELETE *
FROM insight
WHERE post_id IN postIds

In [ ]:
79+1125

In [ ]:
df_over50.shape

In [ ]:
x = 0
for index,row in df_below50.iterrows():
  key = row['awardee']
  met = df_over50[df_over50['awardee'] == key]
  key_year = row['Year_date']
  met_year = met[met['Year_date'] == key_year]
  if met_year.shape[0] > 0:
    x+=1
    print(met_year.index[0])
print(x)

In [ ]:
dif = df_over50[df_over50['awardee'] != key]

In [ ]:
x = df_over50['awardee'] != df_below50['awardee']

In [ ]:
dif

,index,awardeeCounty,Year_date,awardee,d_inv,estimatedTotalAmt,d_59,d_99
0,1,Akron,2013,THE UNIVERSITY OF AKRON,1,300000,1,0
1,6,Akron,2017,THE UNIVERSITY OF AKRON,1,300000,1,0
2,18,Albuquerque,2017,"UNIVERSITY OF NEW MEXICO, THE",1,443631,1,0
3,22,Alexandria,2019,GEM CONSORTIUM,1,3498254,1,0
4,29,Ames,2017,IOWA STATE UNIVERSITY OF SCIENCE AND TECHNOLOGY,1,498750,1,0
...,...,...,...,...,...,...,...,...
163,1254,Washington,2017,"GEORGE WASHINGTON UNIVERSITY, THE",1,499502,1,0
164,1265,West Lafayette,2015,PURDUE UNIVERSITY,1,197280,1,0
165,1269,West Lafayette,2018,PURDUE UNIVERSITY,1,160000,1,0
166,1275,Wichita,2016,WICHITA STATE UNIVERSITY,1,200000,1,0
167,1282,Worcester,2018,WORCESTER POLYTECHNIC INSTITUTE,1,255000,1,0

In [ ]:
df_test = data.groupby(['awardeeCounty','Year_date','awardee'])[['estimatedTotalAmt']].sum()# agrupando por county

In [ ]:
df_test

In [ ]:
#min_value = data.estimatedTotalAmt.min() # menor valor da coluna cfdaNumber
df_50['n_invest'] = df_50.apply(lambda x: x.estimatedTotalAmt/min_value if x.estimatedTotalAmt> min_value else min_value/min_value, axis=1)# add col n

In [ ]:
df_test.reset_index(inplace =True)
df_test.head(4)

In [ ]:
for index, row in df_test.iterrows():
  key = row['awardee']
  met = data[data['awardee']==key]