In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import warnings

In [3]:
# import modules 
import sys, os
import numpy as np
import pandas as pd
#pd.set_option('display.max_columns', None)
#df=pd.read_csv('genICorp.csv') 
#dfp=pd.read_csv('Panel2.csv') #using the already organized data
#dfc = pd.read_csv("I-Corp_county.csv") # This is the file I manually updated the county column

#File to create the panel
dfp = pd.read_csv("I-corp-Full.csv")

This code just organize the data

In [98]:
def cross_to_panel(df):
    df = df.set_index(['Year_date','awardeeCounty'])
    df = df.sort_index()
    return df
panel_data = cross_to_panel(df)
#panel_data.to_csv('panel2.csv')



# def cross_to_panel(df):
#     df['date'] = pd.to_datetime(df['Year_date'], format='%Y')
#     df['year'] = df['date'].dt.year
#     df = df.set_index(['year', 'awardeeCounty'])
#     return df

# # Example usage

# panel_data = cross_to_panel(df)
# panel_data.to_csv('cross2.csv')

Filling the missing values

In [85]:
# df1 = df[['awardeeName', 'awardeeCounty']]
# df2 = dfc[['awardeeName', 'awardeeCounty']]
# dfc.columns[8]

'awardeeCounty'

In [99]:
missing_values = dfp[dfp['awardeeCounty'].isna()]
for index,row in missing_values.iterrows():
  key = row["awardeeName"]
  mat = dfc[dfc['awardeeName']== key]
  if mat.shape[0]>0:
    dfp.at[index, dfp.columns[1]] = mat.iloc[0][dfc.columns[8]]
# mat.shape
#dfp.to_csv("I-corp-Full.csv") #for unknown reason we still have 1 missing county "Chautauqua County" (manually imputed)

Creating the Panel with aggregation

In [7]:
#grouped_multiple = df.groupby(['Year_date', 'awardeeCounty'])
#grouped_multiple = grouped_multiple.reset_index()
#print(grouped_multiple)

p_table = pd.pivot_table(df, index = ['Year_date',"awardeeCounty"])
#p_table.to_csv("panel_icorp.csv")
p_table

                           Unnamed: 0  awardAgencyCode  awardeeZipCode  \
Year_date awardeeCounty
2011      Boston                  8.0             4900      21155005.0
          Charlottesville         1.0             4900     229034833.0
          Davis                  18.0             4900     956186153.0
          Denton                  2.0             4900     762035017.0
          Fayetteville           19.0             4900     727013124.0
...                               ...              ...             ...
2022      University Park        59.0             4900     168021503.0
          West Lafayette         76.0             4900     479061332.0
          Wichita                86.0             4900     672609700.0
          Wilmington             62.0             4900     284033201.0
          Worcester              55.0             4900      16092247.0

                           cfdaNumber  day_date   dunsNumber  \
Year_date awardeeCounty
2011      Boston               47.084      28.0    1423631.0
          Charlottesville      47.084      28.0   65391526.0
          Davis                47.084      28.0   47120084.0
          Denton               47.084      28.0  614168995.0
          Fayetteville         47.084      28.0  191429745.0
...                               ...       ...          ...
2022      University Park      47.084      29.0    3403953.0
          West Lafayette       47.084      26.0   72051394.0
          Wichita              47.084      23.0   53078127.0
          Wilmington           47.084      29.0   40036584.0
          Worcester            47.084      29.0   41508581.0

                           estimatedTotalAmt  expDate 1  expDate 2  expDate 3  \
Year_date awardeeCounty
2011      Boston                     50000.0        3.0       31.0     2012.0
          Charlottesville            50000.0        3.0       31.0     2012.0
          Davis                      50000.0        3.0       31.0     2013.0
          Denton                     50000.0        3.0       31.0     2012.0
          Fayetteville               50000.0        3.0       31.0     2012.0
...                                      ...        ...        ...        ...
2022      University Park            50000.0       10.0       31.0     2022.0
          West Lafayette             50000.0        9.5       30.5     2022.0
          Wichita                    50000.0        9.0       30.0     2022.0
          Wilmington                 50000.0       10.0       31.0     2022.0
          Worcester                  50000.0       10.0       31.0     2022.0

                           fundAgencyCode  fundsObligatedAmt         id  \
Year_date awardeeCounty
2011      Boston                     4900            50000.0  1158744.0
          Charlottesville            4900            50000.0  1157881.0
          Davis                      4900            50000.0  1158807.0
          Denton                     4900            50000.0  1158625.0
          Fayetteville               4900            50000.0  1158759.0
...                                   ...                ...        ...
2022      University Park            4900            50000.0  2211273.0
          West Lafayette             4900            50000.0  2219720.5
          Wichita                    4900            50000.0  2211149.0
          Wilmington                 4900            50000.0  2221899.0
          Worcester                  4900            50000.0  2221200.0

                           month_date  parentDunsNumber  perfZipCode  \
Year_date awardeeCounty
2011      Boston                  9.0         1423631.0   21155005.0
          Charlottesville         9.0        65391526.0  229044195.0
          Davis                   9.0        71549000.0  956165270.0
          Denton                  9.0        64117963.0  762035017.0
          Fayetteville            9.0        55600001.0  727014002.0
...                               ...               ...          ...
2022      University Park         4.0         3403953.0  168021503.0
          West Lafayette          3.5        72051394.0  479066686.0
          Wichita                 3.0        53078127.0  672600007.0
          Wilmington              4.0       142363428.0  284033201.0
          Worcester               4.0        41508581.0   16092280.0

                                piPhone       poPhone
Year_date awardeeCounty
2011      Boston           6.178213e+09           NaN
          Charlottesville  4.349246e+09           NaN
          Davis            7.075488e+09           NaN
          Denton           9.405654e+09           NaN
          Fayetteville     4.104551e+09           NaN
...                                 ...           ...
2022      University Park  8.148657e+09  7.032922e+09
          West Lafayette   7.654956e+09  7.032922e+09
          Wichita          3.169783e+09  7.032922e+09
          Wilmington       9.109628e+09  7.032922e+09
          Worcester        5.088317e+09  7.032922e+09

[951 rows x 18 columns]

In [47]:
panel_data = df.set_index(['Year_date', 'awardeeCounty'])